# This file defines individuals or teams that are code owners in this repository

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @GFRohling will be requested for
# review when someone opens a pull request.
*       @GFRohling
